h100{
    font-size: 20px;
    color: darkslategray;
    font-weight: 800;
}

h99{
    font-size: 18px;
    font-weight:500;
}


.link,.pop {
    border: 0;
    background-color: Transparent;
    font-size: 15px;
    color: darkcyan;
    text-align: left;
}

#popular{
    border: 0;
    background-color: white;
    font-size: 20px;
    color: black;
}

.center_image{
    display: flex;
    justify-content: center;
}

#drinkTable{
    width: 300 px;
    border-color: transparent;
}

.favDrinkButtonDrink{
    border: 0;
    background-color: Transparent;
    font-size: 30px
}